<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.itheima.dao.HouseDao">
		<!-- buy购买页面请求数据 -->
	<select id="findHs" resultType="com.itheima.pojo.House">
		select  house.houseId,room,hall,description,rend,telephone,contactor,image,TypeName,Name,state from house
		join image on house.houseId=image.id
		join type on house.houseId=type.id
		join state on house.houseId=state.id
		join district on house.houseId=district.id
		<where>
		<if test="name!=null and name!='' ">
		and name=#{name} 
		</if>
		<if test="typename!=null and typename!='' ">
		and typename=#{typename}
		</if>
		<if test="room!=null and room!='' ">
		and room=#{room}
		</if>
		<if test="rend!=null and rend!='' ">
		and rend in (#rend,#rends)
		</if>
		<if test="state!=null and state!='' ">
		and state=#{state}
		</if>
		</where>
	</select>
	<!-- house详情页面数据请求 -->
		<select id="findHDetails" resultType="com.itheima.pojo.House">
		select house.houseId,room,hall,description,rend,telephone,contactor,image,TypeName,Name,state from house
		join image on house.houseId=image.id
		join type on house.houseId=type.id
		join state on house.houseId=state.id
		join district on house.houseId=district.id
		where 
		house.houseId=#{houseId}
	</select>
	
	
</mapper>